#!/bin/sh

mpd &
dunst &
unclutter &
calcurse --daemon &
greenclip daemon &
nm-applet &
pasystray &
nitrogen --restore &

xset -b -dpms s off m 1/2 0 &
numlockx on &
{%@@ if profile == "pi" @@%}
setxkbmap -layout de &
setterm -blength 0 &
{%@@ endif @@%}
